.error-container {
  display: flex;
  flex-direction: column;
  color: #e60000;
  text-align: center;
}

.error-container h1 {
  font-size: 10rem;
}

.lien-retour {
  text-decoration: none;
  color: #e60000;
  margin-top: 5rem;
}

.lien-retour::before {
  content: "👉";
  margin-right: 0.3rem;
}
