.container-change {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.container-change-col-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.container-change-col-2 {
  display: flex;
  justify-content: center;
  margin-left: 0.8rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}
